<div class="flex flex-col items-center h-full w-[80vw] p-2 text-blue-700">
    <span class="font-bold text-xl sm:text-2xl">Add a new task</span>
    <form (ngSubmit)="onSubmit()" [formGroup]="taskForm" class="w-full flex flex-col">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input type="text" matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Content</mat-label>
            <textarea type="text" matInput formControlName="content"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Add task</button>

    </form>
</div>